<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="..\script.js"></script>
</head>
<body>
    <div class="container">
        <div id="question_container" class="page_game hide">
            <div id="question_title">Question</div>
            <div id="answer-btns" class="btn-grid">
                <button class="btn">Answer 1</button>
                <button class="btn">Answer 2</button>
                <button class="btn">Answer 3</button>
                <button class="btn">Answer 4</button>
            </div>
        </div>
        <div class="controls">
            <button id="start-btn" class="start-btn btn page_start">Start</button>
            <button id="next-btn" class="next-btn btn hide page_game">Next</button>
        </div>
    </div>
</body>
</html>